//- example data {
//-   path: string,
//-   image: string,
//-   format: string,
//-   width: number,
//-   height: number,
//-   altText: string,
//- }

mixin img(data)
  - const {path, image, format, width, height, altText} = data;
  - const altTextValue = altText ? altText : "";

  img(src= `img/${path}/${image}.${format}`,
    width= width,
    height= height,
    alt= altTextValue)&attributes(attributes)
